html, body {
    margin: 0;
    padding: 0;
    overflow-x: 0;
}

.split {
    margin: 0;
    padding: 0;
    height: 100vh;
    float: left;
}
.splitleft {
    width: 35%;
    background: -webkit-linear-gradient(top left, #4286f4, #c583ff);
}

.titlebox {
    width: 100%;
}

.title {
    text-align: center;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
}

.splitright {
    width: 65%;
    background-image: url('https://images.unsplash.com/photo-1431329842981-433c8635c2b9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=476bb8b229077406cb5f110fb203bde9&auto=format&fit=crop&w=2250&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flexcenter {
    display: flex;
    justify-content: flex;
    align-items: center;
}