html, body {
    margin: 0;
    padding: 0;
    overflow-x: 0;
}

.split {
    margin: 0;
    padding: 0;
    height: 100vh;
    float: left;
}
.splitleft {
    width: 35%;
    background: -webkit-linear-gradient(top left, #4286f4, #c583ff);
}

.titlebox {
    width: 100%;
}

.title {
    text-align: center;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Bariol Serif', sans-serif;
}

.splitright {
    width: 65%;
    background-image: url('https://images.unsplash.com/photo-1533158326339-7f3cf2404354?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e71c21b81344bc96eb1cedb61e2b54e3&auto=format&fit=crop&w=1304&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flexcenter {
    display: flex;
    justify-content: flex;
    align-items: center;
}