@font-face {
  font-family: 'ALASKA';
  src: url('ALASKA.woff') format('woff'),
       url('ALASKA.ttf') format('truetype'),
       url('ALASKA.svg#ALASKA') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alaska Font';
  src: url('Alaska Font.eot');
  src: url('Alaska Font.woff2') format('woff2'),
       url('Alaska Font.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

