<% include partials/header %>
    <section class="section splash">
        <div class="flexwrapper">
            <h1 class="pagetitle">
                <span class="animated slideInLeft">Tri</span>
                <span class="animated slideInDown">Valley</span>
                <span class="animated slideInUp">Youth</span>
                <span class="animated slideInRight">Expo</span>
            </h1>
            <div class="pagebody">

            </div>
        </div>
    </section>
<% include partials/footer %>
