@font-face {
  font-family: 'ApexMk2-BoldExtended';
  src: url('ApexMk2-BoldExtended.eot');
  src: url('ApexMk2-BoldExtended.woff2') format('woff2'),
       url('ApexMk2-BoldExtended.woff') format('woff'),
       url('ApexMk2-BoldExtended.ttf') format('truetype'),
       url('ApexMk2-BoldExtended.svg#ApexMk2-BoldExtended') format('svg'),
       url('ApexMk2-BoldExtended.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

